#header{width:97.1%;height:80px;float:left;background:linear-gradient(to bottom,#c5e6ff,#fff);padding-top:20px;padding-left:2.9%;
font-family:"方正舒体";color:#89abde;}
#header .bigFont{font-size:30px;line-height:40px;}
#header .smallFont{font-size:18px;}
#content{width:98.4%;height:calc(100vh - 101px);margin-left:1.4%;float:left;border-top:1px solid #b8c9d6;border-left:1px solid #b8c9d6;}
#pageList{width:16.8%;float:left;}
#user{width:95%;height:50px;background:url("../images/button06.gif");background-size:100% 50px;}
#user img{width:40px;height:40px;margin-top:5px;margin-bottom:5px;margin-left:5%;float:left;}
#user p,#user a{font-size:15px;font-family:"华文楷体";color:#789cd3;padding-left:5%;padding-top:5px;padding-bottom:-5px;}
#list{width:80%;float:left;font-size:18px;font-family:"华文仿宋";font-weight:bold;}
#list ul{list-style-image:url("../images/ico04.gif");}
#list ul li{height:50px;background:url("../images/nav02.gif");background-position:bottom center;line-height:50px;
background-repeat:no-repeat;margin-left:20%;}
#list ul li a:link{color:#555555;}
#list ul li a:visited{color:#555555;}
#list ul li a:hover{color:#555555;text-decoration:underline;}
#index{width:80%;float:left;margin-left:-11px;}
#index img{width:105%;height:calc(100vh - 105px);}
#personal{width:84%;float:left;background:#f7f7f7;margin-left:-11px;height:calc(100vh - 105px);}
#personalWrap,#pwdChangeWrap,#markWrap,#historyWrap{width:100%;border:1px solid #5f8fb0;background:#fff;float:left;}
#personalPage,#pwdChangePage,#markPage,#historyPage{width:97%;height:30px;background:#5f8fb0;padding-left:3%;line-height:30px;font-size:16px;font-family:"华文仿宋";color:#fff;
font-weight:bold;}
#personalSet,#pwdChangeSet,#markSet,#historySet{width:97%;padding-left:3%;padding-top:18px;font-size:18px;font-family:"华文仿宋";font-weight:bold;padding-bottom:40px;}
#personalSet table{text-align:center;width:79.5%;}
#personalSet table td{width:20%;height:24px;vertical-align:middle;}
.trTitle1{background:#5f8fb0;color:#fff;}
.trTitle2{background:#eeeeee;}
#pwdChange{width:84%;float:left;background:#f7f7f7;margin-left:-11px;height:calc(100vh - 105px);}
#pwdChangeSet legend,#mark legend,#history legend{color:#014e82;}
#pwdChangeSet fieldset,#mark fieldset,#history fieldset{padding-left:6.6%;padding-top:20px;line-height:30px;padding-bottom:30px;}
#submitForm1,#resetForm1{background:linear-gradient(to bottom,#c5e6ff,#fff);border:1px solid ##5f8fb0;
color:#014e82;margin-left:10%;}
#mark{width:84%;float:left;background:#f7f7f7;margin-left:-11px;height:calc(100vh - 105px);}
#markSet table{text-align:center;width:79.5%;}
#markSet table td{width:25%;height:24px;vertical-align:middle;}
#history{width:84%;float:left;background:#f7f7f7;margin-left:-11px;height:calc(100vh - 105px);}
